<h1>Login</h1>

<form action="/auth/login" method="post">
    <input id='email' name='email' type='text' placeholder='email' />
    <input id='password' name='password' type='password' placeholder='password' />
    <input type='submit' value='login' />
</form>

<div class="register"><span>Don't have an account yet?</span><a href="/auth/register"> <b>Register</b></a></div>