* {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    padding: 10px 10px;
}

h2 {
    text-align: center;
    padding: 10px 10px;
}

.container {
    margin: auto;
}

.formulario {
    margin: auto;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 30px;
    width: 300px;
}

.button {
    background: greenyellow;
    width: 150px;
    height: 30px;
}

.button-two{
    background: red;
    width: 150px;
    height: 30px;
    color: white;
}

.table {
    width: 80%;
    padding: 1rem;
    margin: auto;
    height: 100px;
}
  
table {
    width: 800px;
    padding: 1rem;
    background-color: rgb(207, 209, 209);
    border-collapse: collapse;
    height: 80px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 10px;
}
  
td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 60px;
}

.user {
    text-transform: uppercase;
}

.user-cont {
    text-align: center;
    margin-bottom: 1rem;
}

.register {
    text-align: center;
    padding: 20px;
}

.github {
    text-align: center;
}

.git {
    background-color: black;
}

.git2 {
    color: white;
}

.registerok {
    display: block;
    text-align: center;
    padding: 20px;
}